body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		 sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    max-width: 800px;
    margin: auto;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		 monospace;
}
nav {
    display: flex;
    border-bottom: 5px solid black;
    align-items: left;
}
nav a {
    font-size: 24px;
    padding: 10px 25px 10px 0px;
}
nav a:visited {
    color: black;
}
nav a:hover {
    color: lightblue;
}
#nomination-form-container {
    border: 5px solid lightblue;
    padding: 8px;
}
#nomination-form {
    display: flex;
    align-items: center;
    background: red;
}
#nomination-list {
    border: 5px solid pink;
    padding: 10px;
}
.nomination {
    border: 3px solid lightgreen;
    padding: 5px;
    display: flex;
}
.vote-results {
    border: 3px solid grey;
    width: 15%;
    /* max-width: 300px;; */
}
.nomination-title {
    padding: 10px;
    font-family: monospace;
    border: 3px solid hotpink;
}
.vote-btns {
    padding: 10px;
    border: 3px solid blue;
    margin: 0 0 0 auto;
}

/* -------------------------------------------------- */
input {
    border: 3px solid peachpuff;
    /* padding: 8px; */
    width: 400px;
}

/* .no-autocomplete { */
/*   color: #999; */
/*   padding: 8px; */
/* } */

.autocomplete {
    border: 3px solid darkcyan;

    list-style: none;
    margin: auto;

    max-height: 170px;
    overflow-y: auto;
    width: 365px;
    /* width: calc(300px + 1rem); */
}
.autocomplete li {
    text-indent: 0px;
    padding: 6px;
}

/* Doesnt fix the indentation issue */
/* .autocomplete ul { */
/*     padding-left: 0; */
/*     text-indent: 0px; */
/* } */

.autocomplete > .active-match,
.autocomplete li:hover {
    background-color: darkgray;
    cursor: pointer;
    font-weight: 700;
}
.autocomplete li:not(:last-of-type) {
    border-bottom: 1px dotted black;
}
